

/*** GENERAL **/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px; 
}

header {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 10px 0;
    position: sticky;
    top: 0;
    background: white;
    z-index: 999;
}

main.loading .container {
    min-height: 80vh;
}

footer {
   background-color: #f2f2f2;
   min-height: 180px;
   padding: 40px 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    color: currentColor;
    text-decoration: none;
}

/*** FLEXBOX **/

.u-align-items-center {
    align-items: center;
}

.u-justify-content-space-between {
    justify-content: space-between;
}

.u-justify-content-end {
    justify-content: end;
}

.u-justify-content-center {
    justify-content: center;
}

.u-flexbox {
    display: flex;
}

.u-flex-wrap {
    flex-wrap: wrap;
}

.u-flex-column {
    flex-direction: column;
}

.u-fill-width {
    width: 100%;
}

label input, textarea {
    border: 1px solid rgb(219, 219, 219);
    min-height: 40px;
    border-radius: 2px;
    padding: 0 15px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

h1 {
    font-size: 24px;
    color: #4a4a4a;
}

h2 {
    font-size: 24px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.button.button-secondary {
    color: #007782;
    background-color: transparent;
    background-image: linear-gradient(to top, rgb(000, 117, 129) 0px 0px), linear-gradient(to top, transparent 0px, transparent 0px);
    background-repeat: no-repeat;
    background-position: right bottom, right bottom;
    background-size: 0% .1rem, 100% .1rem;
    transition-property: background-size;
    transition-timing-function: ease;
    transition-duration: .25s;    
    padding-bottom: 4px;
    cursor: pointer;
}

.button.button-primary {
    color: white;
    font-family: V-Inter, Helvetica Neue, Helvetica-Neue, Arial, sans-serif;
    font-size: 14px;
    background-color: #007782;
    font-weight: 375;
    height: 33px;
    line-height: 20px;
    padding: 0 11px;
    border: 0;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.position-relative  {
    position: relative;
}


/*** HEADER **/

.header__logo {
    min-width: 115px;
    flex: 1;
}

.header__right {
    flex: 2;
    gap: 16px;
}

.header__logo img {
    max-width: 70px;
}

.header__search {
    flex: 2;
    position: relative;
}

.header__search svg{
    position: absolute;
    left: 15px;
    
}

.header__search input {
    min-height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    padding: 10px 20px 10px 42px;
    background-color: #f2f2f2;
}

.header__right .button.button-primary {
    color: white;
    font-family: V-Inter, Helvetica Neue, Helvetica-Neue, Arial, sans-serif;
    font-size: 14px;
    background-color: #007782;
    font-weight: 375;
    height: 33px;
    line-height: 20px;
    padding: 0 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.header__right .button.button-secondary {
    color: #007782;
    font-size: 14px;
    background-color: transparent;
    background-image: linear-gradient(to top, rgb(000, 117, 129) 0px 0px), linear-gradient(to top, transparent 0px, transparent 0px);
    background-repeat: no-repeat;
    background-position: right bottom, right bottom;
    background-size: 0% .1rem, 100% .1rem;
    transition-property: background-size;
    transition-timing-function: ease;
    transition-duration: .25s;    
    padding-bottom: 4px;
}

.header__right .button.button-secondary:hover {
    background-position: left bottom, left bottom;
    background-size: 100% .1rem, 100% .1rem;
}

.login-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: end;
}

.login-wrapper .username-wrap img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

@media only screen and  (max-width: 1000px) {
    .header__logo {
        min-width: unset;
        max-width: 60px;
    }    
    .container {
        padding: 0 10px;
    }   
    .header {
        flex-wrap: wrap;
        row-gap: 5px;
    }
    .header__search {
        order: 3;
    } 
    .header__search, .header__logo, .header__right {
        flex: unset;
    } 
    .header__right .button.button-primary, .header__right .button.button-secondary, .username-wrap {
        font-size: 12px;
        line-height: 1.2em;
    }
    .username-wrap {
        font-weight: 600;
    }  
    .login-wrapper {
        text-align: right;
    }
    .header__right {
        width: 80%;
        gap: 5px;
        text-align: center;
    }
}

@media only screen and  (max-width: 400px) {
    .header__right {
        width: 60%;
    }
    .header__search svg {
        left: 8px;
    }   
    .header__search input {
        padding: 10px 20px 10px 30px;
    }   
}

/*** HERO **/

.hero {
    max-height: 450px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    height: 450px
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.hero .hero-overlay {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 50px;
}

@media only screen and  (max-width: 768px) {
    .hero {
        max-height: 220px;
        height: 220px;
        margin-bottom: 20px;
    }
    .hero .hero-overlay {
        width: 100%;
    }
}

/*** OFFERS HOMEPAGE **/

.offer-wrapper {
    width: 20%;
}

.offer-wrapper .card-image img {
    aspect-ratio: 0.7 / 1;
    object-fit: cover;
}

.offer-wrapper .card-image {
    padding: 0 0 16px;
}

.offer-wrapper {
    padding: 0 8px 16px;
}

.offer-wrapper .card-header {
    padding: 8px;
 }
 
.offer-wrapper .card-header img {
   max-width: 30px;
   aspect-ratio: 1 / 1;
   object-fit: cover;
   border-radius: 50px;
   margin-right: 8px;
}

.offer-wrapper .card-header .user-no-picture{
    width: 30px;
    height: 30px;
    font-size: 12px;
    margin-right: 8px;
}

.offer-wrapper .card-username {
    font-size: 12px;
    opacity: 0.6;
}

.offer-wrapper .card-details {
    gap: 5px;
    font-size: 12px;
    opacity: 0.6;
    text-transform: lowercase;
}

.price_inc {
    color : #007782;
    font-size: 19px;
}

.no-result {
    text-align: center;
    min-height: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.offers-content {
    row-gap: 20px;
}

@media only screen and  (max-width: 1000px) {
    .offer-wrapper {
        width: 33%;
        padding: 0 2px 0;
    }
    .price_inc {
        font-size: 17px;
    }
}

@media only screen and  (max-width: 768px) {
    .offer-wrapper {
        width: 50%;
    }
}

/*** FILTERS **/

.filters-wrapper {
    display: flex;
}

.filters-wrapper > div {
    flex: 1;
}

.filters-wrapper .filter-main > div {
    height: 36px;
    display: flex;
    width: 100%;
}

@media only screen and  (max-width: 768px) {
    .filters-wrapper {
        display: flex;
        flex-direction: column;
    }
    .filters-wrapper .filter-main > div {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 75%;
        max-width: 100%;
    }
}

/*** OFFER PAGE **/

.offers {
    padding-bottom: 50px;
}


.offer-section {
    background-color: #f2f2f2;
    padding: 40px 0;
}

.offer-container {
    gap: 20px;
}


.offer-medias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
    
.offer-medias div:nth-child(1) { grid-area: 1 / 1 / 3 / 3; }
.offer-medias div:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }
.offer-medias div:nth-child(3) { grid-area: 1 / 4 / 2 / 5; }
.offer-medias div:nth-child(4) { grid-area: 2 / 3 / 3 / 4; }
.offer-medias div:nth-child(5) { grid-area: 2 / 4 / 3 / 5; }

.offer-medias {
    width: 70%;
}

.offer-medias img {
    aspect-ratio: 0.8 / 1;
}

.offer-infos {
    width: 29%;
    background-color: white;
    padding: 20px;
}

.offer-infos .price_container {
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: start;
    gap: 3px;
    flex-direction: column;
}

.offer-infos  .details-list__item {
    width: 100%;
    
}

.offer-infos .description_container {
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: start;
    gap: 10px;
    flex-direction: column;
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 13px;
} 

.offer-infos .description_buttons, .offer-infos .description_title {
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: start;
    gap: 10px;
    flex-direction: column;
} 

.offer-infos .description_title .title:last-child
 {
    font-size: 16px;
    opacity: 0.7;
    line-height: 1.3em;
}

.offer-infos .description_buttons, .offer-infos .description_title div:first-child {
    font-weight: 700;
} 

.offer-infos .description_buttons .button.button-primary {
    background-color: #00a4b3;
    font-weight: 600;
    font-size: 17px;
    width: 100%;
}

.offer-infos .description_container .details-list__item-title {
    display: flex;
    gap: 5px
}

.offer-infos .description_container .details-list__item-title span:first-child{
    width: calc(50% - 5px);
}
.offer-infos .description_container .details-list__item-title span:last-child{
    width: calc(50% - 5px);
}

@media only screen and  (max-width: 768px) {
    .offer-infos {
        padding: 15px;
    }
    .offer-section {
        padding: 10px 0;
    }
    .offer-container {
        flex-direction: column;
    }
    .offer-medias, .offer-infos {
        width: 100%;
    }
}

@media only screen and  (min-width: 768px) {
    .hidden-tab-and-up {
        display: none!important;
    }
}

@media only screen and  (max-width: 768px) {
    .hidden-small {
        display: none!important;
    }
}

/*** LOGIN SIGNOUT **/

.login-subscribe, .payment-wrapper {
    background-color: #f2f2f2;
    padding: 40px 0;
}

.login-subscribe form {
    background-color: #ffffff;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-form {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;   
    text-align: center;
}

.button-file {
  color: #007782;
}

.login-subscribe form > div .button-file label span {
    font-size: 16px;
    opacity: 1;
} 

.avatar_file img {
    max-width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-top: 10px;
}

.login-subscribe form > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-subscribe form > div label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-subscribe form > div label span {
    font-size: 13px;
    opacity: 0.6;
    line-height: 1.3em;
}

.login-subscribe h1 {
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: #007782;
    line-height: 1.2em;
}


/*** PUBLISH **/

.publish-article {
    background-color: #f2f2f2;
    padding: 40px 0;
}

.publish-article form {
    background-color: #ffffff;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.publish-article form > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.publish-article form > div label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.publish-article form > div label span {
    font-size: 13px;
    opacity: 0.6;
    line-height: 1.3em;
}

.publish-article h1 {
    text-align: center;
    margin-bottom: 20px;
}

.publish-article .dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}

.dropzone-images {
    margin: 10px 0;
    display: flex;
    gap: 5px;
    align-items: center;
}

.dropzone-images img {
    max-width: 150px;
}

.button-with-icon {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
    height: fit-content;
}

.button.button-with-icon {
    color:#007782;
    font-weight: 600;
    border: 1px solid #75a5aa;
    padding: 10px 15px 10px;
}

.button-with-icon svg path {
    fill:#007782
}

@media only screen and  (max-width: 760px) {
    .dropzone-images img {
        max-width: 90px;
    }
}

@media only screen and  (max-width: 540px) {
    .button.button-with-icon {
        font-size: 13px;
    }
    .dropzone-images img {
        max-width: 43px;
    }
    .dropzone-images {
        flex-wrap: wrap;
    }
}

.user-section {
    background-color: #fff;
    padding: 40px 0;
}

.user-header {
    display: flex;
    justify-content: space-between;
}

.user-header .user-left {
    display: flex;
    justify-content: space-between;
}

.user-header .user-left img {
    max-width: 170px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100px;
}

.user-header .user-left .user-description {
    padding: 16px;
}

.user-header .user-left .user-description span {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
}

@media only screen and  (max-width: 768px) {
    .user-header {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
    }
    .user-header .user-left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .user-header .user-left img {
        width: 100%;
        max-width: 150px;
        margin: 0 auto;
    }  
}

/* PAYMENT */

.payment-wrapper .payment-stripe {
    background-color: #ffffff;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
}

.payment-wrapper form > button {
    color: white;
    font-family: V-Inter, Helvetica Neue, Helvetica-Neue, Arial, sans-serif;
    font-size: 18px;
    background-color: #00925d;
    font-weight: 375;
    height: 33px;
    line-height: 20px;
    padding: 0 11px;
    border: 0;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
}

.payment-wrapper .detail-list__item-photo {
    display: flex;
    justify-items: center;
}

.payment-wrapper .detail-list__item-photo img {
    max-width: 100px;
    margin: 0 auto;
}

.payment-wrapper .description_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.payment-wrapper .description_container .details-list__item {
    display: flex;
    gap: 5px;
    width: 100%;
}

.payment-wrapper .details-list__item-price, .details-list__item-fees, .details-list__item-total {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.payment-wrapper .details-list__item-price span, .details-list__item-fees span, .details-list__item-total span {
    width: calc(50% - 5px);
}

.payment-wrapper .details-list__item-price span:last-child, .details-list__item-fees span:last-child, .details-list__item-total span:last-child {
    text-align: right;
}

.payment-wrapper .details-list__item-total span:last-child, .details-list__item-total {
    font-weight: 600;
}

.payment-wrapper .details-list__item-total {
    margin: 15px 0;
    padding-top: 15px;
    border-top: 1px solid #dddddd;
}

@media only screen and (max-width: 1000px) {
    .payment-wrapper .container {
        padding: 0;
    }
    .payment-wrapper .payment-stripe {
        padding: 20px 10px;
    }   
}

.user-no-picture {
    width: 170px;
    height: 170px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(000, 117, 129);
    border-radius: 50%;
    color: white;
    font-size: 37px;
    text-transform: uppercase;
}

@media only screen and  (max-width: 768px) {
    .user-no-picture {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    } 
}


/* FILTERS */

.filters-right {
    display: flex;
    align-items: end;
    justify-content: end;
}

.select-filter + .select-filter-modal {
    min-width: 240px;
    top: 40px;
    right: 0px;
    position: absolute;
    background: white;
    padding: 15px;
    z-index: 99;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.select-filter-modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.select-filter-modal div label{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.select-filter.button {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    min-width: 0;
    padding: 8px 12px;
    border: 1px solid rgb(161, 161, 161);
    background: white;
}
